TELEGRAM_TOKEN=
NTBA_FIX_350=1

# Application DB
PSQL_HOST=127.0.0.1
PSQL_DATABASE=fidar
PSQL_USER=test
PSQL_PASSWORD=test

# Payments
PROVIDER_TOKEN=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=
WEBHOOK_PORT=3004
YOOKASSA_WEBHOOK_PATH=/webhooks/yookassa

# System TG
SYSTEM_TELEGRAM_TOKEN=
SYSTEM_TELEGRAM_CHAT_ID=
